---
import { getImage } from "astro:assets";
import { Image } from "astro:assets";
import GithubIcon from "../icons/github-64.png";
import LinkedInIcon from "../icons/linkedin-64.png";
import TwitterIcon from "../icons/twitter-64.png";
import myBackground from "../images/michael-daniels-ylUGx4g6eHk-unsplash-large.jpg";
import MenuItem from "../components/MenuItem.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/montserrat";

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const optimizedBackground = await getImage({
  src: myBackground,
  format: "webp",
});
---

<!doctype html>
<html
  lang="en"
  style={`background: linear-gradient(-10deg, black, #191805, #B5904B, #B1B3A8, #B5904B, #191805, black)`}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex h-full flex-col items-center justify-center bg-cover bg-center antialiased lg:px-4"
    style={`height: 100dvh; width: 100dvw; background-image: url(${optimizedBackground.src}); `}
  >
    <div
      class="flex h-full w-full flex-col backdrop-blur-sm lg:container lg:mx-auto lg:my-4"
    >
      <header
        class="flex flex-row justify-end gap-2 bg-slate-500/75 p-4 lg:rounded-t-md"
      >
        <nav class="flex flex-row gap-2">
          <a href="/" class={currentPath === "/" ? "underline" : ""}>home</a>
          <span>/</span>
          <MenuItem url="/projects" title="projects" />
          <span>/</span>
          <MenuItem url="/work" title="work" />
          <!-- <li>/</li>
          <MenuItem url="/contact" title="contact" /> -->
        </nav>
      </header>

      <main
        class="flex flex-1 flex-col gap-2 divide-x-0 divide-y divide-slate-700 overflow-y-auto bg-white/40 p-4 backdrop-blur-sm lg:flex-row lg:divide-x lg:divide-y-0 lg:overflow-y-hidden"
      >
        <aside
          class="flex flex-col justify-center p-2 lg:w-1/3 lg:items-center lg:overflow-y-auto"
        >
          <h1 class="text-2xl font-semibold">{title}</h1>
        </aside>
        <section
          class="flex flex-1 flex-col lg:w-2/3 lg:justify-center lg:overflow-y-auto"
        >
          <slot />
        </section>
      </main>

      <footer
        class="z-30 flex flex-row gap-2 bg-slate-500/75 p-4 lg:rounded-b-md"
      >
        <menu class="flex w-full flex-row justify-evenly gap-4 sm:w-max">
          <li>
            <a href="https://github.com/joshymcd"
              ><Image
                height={36}
                width={36}
                src={GithubIcon}
                alt="Github Icon"
              /></a
            >
          </li>
          <li>
            <a href="https://twitter.com/joshymcd92"
              ><Image
                height={36}
                width={36}
                src={TwitterIcon}
                alt="Twitter Icon"
              /></a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/joshmcdonald92/"
              ><Image
                height={36}
                width={36}
                src={LinkedInIcon}
                alt="LinkedIn Icon"
              /></a
            >
          </li>
        </menu>
      </footer>
    </div>
  </body>
</html>
