---
import { Image } from "astro:assets";
import GithubIcon from "../icons/github-64.png";
import LinkedInIcon from "../icons/linkedin-64.png";
import TwitterIcon from "../icons/twitter-64.png";
import bg from '../images/michael-daniels-ylUGx4g6eHk-unsplash-large.jpg'
interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html
  lang="en"
  class="bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-gray-800 via-zinc-500 to-emerald-600 "
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-dvh w-dvw flex flex-col lg:py-8 xl:py-4 p-0 bg-cover bg-center" style={`background-image: url(${bg.src});`}>
    <header
      class="w-full bg-slate-500/75 backdrop-blur-sm lg:container mx-auto p-4 flex flex-col sm:flex-row gap-2 justify-end lg:rounded-t-md"
    >
      <!-- <h1><a href="/" class={currentPath === "/" ? "underline" : ""}>Josh McDonald</a></h1> -->
      <menu class="flex flex-row gap-2">
        <li>
          <a href="/" class={currentPath === "/" ? "underline" : ""}>home</a>
        </li>
        <li>/</li>
        <li>
          <a href="/about" class={currentPath === "/about" ? "underline" : ""}
            >about</a
          >
        </li>
        <li>/</li>
        <li>
          <a
            href="/projects"
            class={currentPath === "/projects" ? "underline" : ""}>projects</a
          >
        </li>
        <li>/</li>
        <li>
          <a href="/resume" class={currentPath === "/resume" ? "underline" : ""}
            >resume</a
          >
        </li>
        <li>/</li>
        <li>
          <a
            href="/contact"
            class={currentPath === "/contact" ? "underline" : ""}>contact</a
          >
        </li>
      </menu>
    </header>
    <main
      class="flex-1 flex flex-col lg:flex-row backdrop-blur-md bg-white/40 items-center w-full lg:container mx-auto p-4 gap-2 divide-y divide-x-0 lg:divide-y-0 lg:divide-x divide-slate-700"
    >
      <div
        class="p-4 h-full w-full justify-between lg:justify-center items-center flex lg:aspect-square"
      >
        <slot name="left" />
      </div>
      <div
        class="p-4 h-full w-full justify-center items-center flex lg:aspect-square"
      >
        <slot />
      </div>

      <!-- <div class="  flex flex-row justify-evenly items-center h-1/3 bg-red-500">
        <div class="border h-full w-full">left</div>
        <div class="border h-full w-full" >right</div>
      </div> -->
      <!-- <slot /> -->
    </main>
    <footer
      class="w-full bg-slate-500/75 backdrop-blur-sm lg:container mx-auto p-4 flex flex-row justify-between lg:rounded-b-md"
    >
      <menu class="flex flex-row gap-2">
        <li>
          <Image height={36} width={36} src={GithubIcon} alt="Github Icon" />
        </li>
        <li>
          <Image height={36} width={36} src={TwitterIcon} alt="Twitter Icon" />
        </li>
        <li>
          <Image
            height={36}
            width={36}
            src={LinkedInIcon}
            alt="LinkedIn Icon"
          />
        </li>
      </menu>
      <div class="bg-green-500">base</div>
      <div class="sm:bg-green-500">sm</div>
      <div class="md:bg-green-500">md</div>
      <div class="lg:bg-green-500">lg</div>
      <div class="xl:bg-green-500">xl</div>
      <div class="2xl:bg-green-500">2xl</div>
    </footer>
  </body>
</html>
